@media screen and (max-width: 680px) {
     :root {
        --font-size: 2vw;
    }
    body {
        /** font-size: 10px; **/
    }
    .section_header {
        flex-direction: column-reverse;
    }
    .band {
        text-align: center;
        justify-content: center;
        align-items: center;
        /** font-size: 1.5rem; **/
    }
    .band>div {
        padding: 0;
    }
    .testimonio-1,
    .testimonio-2,
    .testimonio-3,
    .testimonio-4 {
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 35vh;
        padding-top: unset;
    }
    .band::before {
        transform: none;
        background-image: url(../img/header-band-m.svg);
        background-position: top center;
    }
    #home>.section_header {
        background-image: url(../img/bg-home-m.png);
        flex-direction: column;
        height: 50vh;
    }
    #home>.section_content {
        background-position: top left -25vw;
        background-size: cover;
        background-repeat: no-repeat;
        /* min-height: 50vh; */
    }
    /*#home>.section_content::before {
        width: 80%;
        height: 100%;
        right: 0;
        background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #E5E5E5 50%, #E5E5E5 100%);
        position: absolute !important;
        z-index: -1;
        content: '';
        opacity: .7;
    }*/
    #home>.section_content>div {
        max-width: 60%;
        position: relative;
        /*font-size: calc(.7rem);*/
    }
    .hide_m {
        display: none;
    }
    .hide_d {
        display: inline;
    }
    .testimonios span {
        display: inline-block;
    }
    .nombre,
    .nombre-t {
        max-width: none !important;
    }
    #agendar .section_header>div:first-of-type img {
        max-width: 5vw;
    }
    #agendar .agenda-cita {
        padding-top: unset;
        padding-bottom: unset;
    }
    #agendar .agendar-lista {
        flex-direction: column;
    }
    #agendar .agendar-lista .card {
        width: unset;
        height: unset;
        flex-direction: row;
        display: flex!important;
        margin-bottom: unset;
        background-color: var(--white);
        padding-top: unset;
        justify-content: flex-start;
    }
    .lista {
        text-align: left;
    }
    #agendar .agendar-lista>div>div:last-of-type {
        background-color: var(--text);
        max-width: unset;
        width: 100%;
        height: 16vw;
        text-align: left;
        display: flex;
        border-radius: 2vw;
        align-items: inherit;
        padding-left: 5vw;
        padding-left: 4vw;
        font-size: calc(2 * var(--font-size));
        margin-bottom: .5vw;
        margin: 1vh 2vh 1vw 2vh;
    }
    #agendar .agendar-lista .card .card-number {
        background-color: var(--bg);
        color: var(--text);
        height: 12vw;
        width: 20vw;
        position: relative;
        border-width: .3vh;
    }
    #agendar .agendar-lista .card .card-number>div {
        position: relative;
        height: unset;
        width: unset;
    }
    #agendar .section_header>div:last-of-type>div {
        max-width: unset;
        margin-bottom: 6vh;
        margin-top: 6vh;
        /** font-size: 1rem; **/
    }
    .corner {
        display: none;
    }
    .bg-blue {
        height: 100%;
        width: auto;
    }
    #contacto {
        background-color: var(--title);
    }
    #contacto>div {
        margin: 10vh 0;
    }
    #contacto .form>form {
        flex-direction: column;
    }
    #contacto button {
        width: 100%;
    }
    #contacto .form>form>div {
        margin-bottom: .5vh;
        margin-left: unset;
        width: 100%;
        margin-right: unset;
    }
    .testimonio-1>div,
    .testimonio-2>div,
    .testimonio-3>div,
    .testimonio-4>div {
        padding-left: 6vw;
        padding-top: 4vh;
        padding-bottom: unset;
    }
    span.testimonio {
        font-size: calc(1.3*var(--font-size));
        max-width: 25vw;
        letter-spacing: normal;
    }
    .firma {
        position: absolute;
        bottom: 20%;
        right: 3%;
        font-size: calc(1.3*var(--font-size)) !important;
    }
    #home>.section_content {
        height: unset;
    }
    #home>.section_content>div>div {
        padding-top: 4vw;
        max-width: unset;
        padding-left: 4vw;
    }
    #asesoria {
        background-color: var(--title);
    }
    #asesoria .section_header {
        color: var(--white);
        padding: 4vh 28vw 4vh 28vw;
    }
    #asesoria .section_content {
        padding: 4vw;
    }
    .lista {
        flex-direction: column;
        padding: 0 !important;
        max-width: unset;
    }
    .lista .titulo,
    .lista .descripcion {
        text-align: left;
    }
    .grupo {
        flex-direction: row;
        max-width: 50vh;
        margin: .5vw 0;
        padding: 5vw 5vw 5vw 15vw;
        align-items: unset;
    }
    .grupo-texto {
        margin-left: 4vw;
        padding-right: 15vw;
    }
    .grupo:nth-child(odd) {
        background-color: var(--white);
    }
    .imagen>img {
        max-width: 12vw;
    }
    #asesoria>.section_content {
        background-color: var(--bg);
        padding: 0;
    }
    .grupo-texto>.texto-small {
        font-size: calc(1.2*var(--font-size));
    }
    .texto-titulo {
        font-size: calc(1.5*var(--font-size));
        font-weight: bold;
        margin-bottom: 1vh;
    }
    #faq .texto-titulo {
        font-weight: 400;
    }
    element.style {
        display: block;
    }
    #faq>section.section_content span:last-child {
        max-width: unset;
    }
    #faq>section .texto {
        font-size: calc(2*var(--font-size));
    }
    #agendar .subtitulo,
    #faq .subtitulo {
        font-size: calc(3.5*var(--font-size));
        display: block;
    }
    #agendar a>button {
        font-size: calc(1.8*var(--font-size));
    }
    #agendar,
    #contacto {
        font-size: calc(1.5*var(--font-size));
    }
    #contacto input {
        font-size: calc(1*var(--font-size));
        height: 8vw;
        margin-bottom: 1vw;
    }
    #faq>section.section_content>div>div>div:first-child {
        padding-top: .5vh;
        padding-left: 3vw;
    }
    #agendar .agendar-lista>div>div:first-of-type>div {
        height: 14vw;
        width: 14vw;
    }
    #home .section_header {
        padding: 0;
        flex-direction: column-reverse;
    }
    #home .section_header .titulo {
        font-size: calc(3*var(--font-size));
        margin-bottom: 1vh;
    }
    .band {
        background-color: var(--text);
        height: 100%;
    }
    .video,
    .video iframe {
        position: relative;
        top: unset;
        transform: unset;
        height: 100%;
        width: 100%;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .band .logo {
        margin: 6vw 0 4vw 0;
        padding: 0;
    }
    .logo img {
        width: 25vw;
        height: auto;
    }
    .band button {
        display: block;
        margin-bottom: 1vh;
    }
    #agendar .section_content {
        padding: 8vw;
    }
    #home ul {
        padding-inline-start: 0;
        list-style-type: none;
    }
    #faq>section.section_content>div>div {
        border-radius: 4px;
    }
}