@font-face {
    font-family: normal;
    src: url(AcuminVariableConcept.otf);
    size-adjust: 100%;
    font-weight: 500;
}


b {
    font-family: normal;
    font-weight: 800 !important;
    font-size: 3.5rem;
}

.band {
    font-family: normal;
    font-size: 3.5rem;
    display: flex;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.band::before {
    content: " ";
    display: block;
    background-image: url(../img/header-band.svg);
    background-position: top center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.band a>button {
    color: white;
    font-family: normal;
    font-size: 2rem;
    background: #0066FF;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1.5rem;
    border: none;
}

.band>div {
    position: relative;
    width: 50%;
}

html {
    font-family: normal;
}

img {
    position: relative;
}

.logo {
    width: 30%;
    top: 5rem;
    left: 5rem;
}

section {
    flex-direction: column;
    display: flex;
    padding: 0 0;
}

section>div.section_content>div {
    padding: 0 2rem;
}

#home {
    /**/
}

#home>div {
    background-position: top center;
    background-size: cover;
    background-clip: padding-box;
}

#home>.section_header {
    background-image: url(../img/bg-home.png);
    display: flex;
    flex-direction: column;
}

#home>.section_header span {
    color: white;
    position: relative;
}

#home>.section_header>div {
    min-height: 28vh;
}

#home>.section_content {
    background-image: url(../img/bg-sobre.png);
}

@media (min-width:390px) {
    #home>.section_header {
        background-image: url(../img/bg-home-m.png);
    }
    #home>.section_content {
        background-image: url(../img/bg-sobre-m.png);
    }
}