@font-face {
    font-family: normal;
    src: url(AcuminVariableConcept.otf);
    size-adjust: 100%;
    font-weight: 500;
}

@font-face {
    font-family: normal-3x;
    src: url(AcuminVariableConcept.otf);
    size-adjust: 300%;
    font-weight: 500;
}

@font-face {
    font-family: large;
    src: url(AcuminVariableConcept.otf);
    font-weight: 500;
    size-adjust: 460%;
}

b {
    font-family: large;
    font-weight: 800 !important;
}

.band {
    font-family: large;
    display: flex;
    text-align: center;
    position: relative;
}

.band::before {
    content: " ";
    display: block;
    background-image: url(../img/header-band.svg);
    background-position: top center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.band a>button {
    color: white;
    font-family: normal-3x;
    background: #0066FF;
    border-radius: 40px;
}

.band>div {}

html {
    font-family: normal;
}

img {
    position: relative;
}

.logo {
    min-width: 20vw;
    min-height: 41px;
    top: 2rem;
    left: 2rem;
}

section {
    flex-direction: column;
    display: flex;
    padding: 0 0;
}

section>div.section_content>div {
    padding: 0 2rem;
}

#home {
    /**/
}

#home>div {
    background-position: top center;
    background-size: cover;
    background-clip: padding-box;
}

#home>.section_header {
    min-height: 60vh;
    background-image: url(../img/bg-home.png);
    display: flex;
    flex-direction: column;
}

#home>.section_header span {
    color: white;
    position: relative;
}

#home>.section_header>div {
    flex: 1;
}

#home>.section_content {
    background-image: url(../img/bg-sobre.png);
}

@media (min-width:390px) {
    #home>.section_header {
        background-image: url(../img/bg-home-m.png);
    }
    #home>.section_content {
        background-image: url(../img/bg-sobre-m.png);
    }
}